/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* NavBar css */

nav {
  height: 110px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #14253a;
  color: white;
  padding: 25px;
  top: 0px;
}

.connect {
  color: rgb(26, 177, 228);
}

.company-name {
  display: flex;
  display: inline-block;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li a {
  display: inline-block;
  margin: 0 0.5rem;
}

.nav-links a:hover, .nav-links a:focus, .nav-links a:active {
  color: #f0f0f0;
  border-bottom: .4rem solid #f0f0f0;
  transition: ease-out .25s;
}

h1 {
  font-size: 3em;
}
