@tailwind base;
@tailwind components;
@tailwind utilities;
/* tailwind directives */

body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/care-connect-proto-v1.appspot.com/o/background.jpg?alt=media&token=305fdbc8-6e24-417c-be1d-204453e60d89");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

button {
  background-color: #ffffff;
  border: none;
  color: rgb(8, 41, 74);
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2em;
}

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav {
  height: 75px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #14253a;
  color: white;
  padding: 25px;
  top: 0px;
  z-index: 10;
}

.nav-foot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect {
  color: rgb(26, 177, 228);
}

.company-name {
  display: flex;
  display: inline-block;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin: 0px 10px 0px 10px;
}

nav li a {
  display: inline-block;
  margin: 0 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a:active {
  color: #f0f0f0;
  border-bottom: 0.4rem solid #f0f0f0;
  transition: ease-out 0.25s;
}

h1 {
  font-size: 3em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
}

.container {
  padding: 90px 50px 0px 50px;
}

.home-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 90px 20px 0px 20px;
}

textarea:focus {
  outline: none;
}

.oftheday {
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-style: italic;
  /*border: 2px solid lightgrey;
  background-color: white;*/
}

.ofthedays {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 500px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-container img {
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}
