.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  overflow-y: auto;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.game-list {
  list-style: none;
  padding: 0;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-height: 100%;
  overflow-y: auto;
}

.game-item {
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
  background-color: lightcyan;
  width: 200px;
  height: 200px;
}

.game-item:hover {
  background-color: lightskyblue;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 2px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.sudoku-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #000;
}

.sudoku-container {
  margin-top: 250px;
}
